* {
  margin: 0;
  padding: 0;
}

.split {
  height: 100%;
  width: 33%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

.center {
  left: 33.5%;
}

.text-explore {
  color: rgba(255, 255, 255, 1);
  font-size: 5vh;
  letter-spacing: 0%;
  margin: 20px;
  margin-top: 80px;
  text-align: center;
  font-family: "Inria Sans", sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  /* margin-top: 200px; */
}

.text-final {
  font-size: 6vh;
}

.pr {
  position: relative;
}

/* button {
  --c:  #ffffff; /* the color*/
/*   
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
  z-index: 1;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
} 
*/

/* 
body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  gap: 40px;
  background: #F2DCA2;
} */

/* button {
  font-family: "Inria Sans", sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
  color:white;
} */

li {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30%;
  /* padding-left: 70%; */
}

.btn-nav-holder {
  position: absolute;
  right: 5%;
  z-index: 99999;
}

body #btn-next {
  bottom: 5%;
}

body #btn-close {
  top: 5%;
}

.btn-nav {
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 10px 12px;
  text-decoration: none;
  cursor: pointer;
  background: white;
}

.button-cover {
  opacity: 0;
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 80px 17px;
  text-decoration: none;
  cursor: pointer;
  background: white;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.text-button {
  font-family: "Inria Sans", sans-serif;
  font-size: 20px;
}

.button-cover span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-cover span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-cover:after {
  content: "";
  position: absolute;
  /* bottom: -50%; */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
  font-family: "Inria Sans", sans-serif;
  font-size: 20px;
}

.button-cover:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
  font-family: "Inria Sans", sans-serif;
  font-size: 20px;
}

.button-cover:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  font-family: "Inria Sans", sans-serif;
  font-size: 15px;
}

.bluerect {
  opacity: 0%;
  background-color: #3c7af2;
  text-align: center;
  font-family: "Inria Sans", sans-serif;
  font-size: 50px;
  color: white;
  vertical-align: middle;
  line-height: 100px;
}

.yellowrect {
  opacity: 0%;
  background-color: #3c7af2;
  text-align: center;
  font-family: "Inria Sans", sans-serif;
  font-size: 50px;
  color: white;
  vertical-align: middle;
  line-height: 100px;
}

.circleyellow {
  width: 650px;
  /* margin-left: 50px; */
  margin-top: 80px;
  /* transform: rotate(5deg); */
  /* opacity: 50%; */
}

.main-data-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 35%;
}
.single-table {
  border-left: 10px solid white;
  padding-left: 20px;
  font-size: 25px;
  font-weight: bold;
}
td {
  padding: 5px;
}
td:nth-child(1) {
  color: white;
}

#bluecolor {
  color: #3c7af2;
}

#yellowcolor {
  color: #c3f23c;
}

#container {
  z-index: 3;
  position: absolute;
  bottom: 0px;
  margin: 20px;
  width: 800px;
  height: 6px;
  left: 50%;
  margin-left: -400px;
}

table {
  font-family: "Raleway";
}
body {
  background-color: black;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.text {
  font-family: "Montserrat";
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 1);
  font-size: 5vh;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@supports (-webkit-text-stroke: 2px #ffffff) {
  .text {
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
  }
}
.text:before {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  color: #ffffff;
  white-space: nowrap;
  content: attr(data-hover);
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
}
.text:hover:before {
  width: 100%;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD_vx3rCs.woff2)
      format("woff2");
  unicode-range: U+0000-00ff, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.begin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Raleway";
  font-weight: 900;
  font-size: 200px;
  color: white;
}

.text-begin {
  font-size: 15vh;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 60%;
}

.background-history {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0;
}

.background-compare {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 1;
}

#element {
  font-family: "Inria Sans";
  color: red;
}

.div {
  display: flex;
  flex-direction: column;
  max-width: 2060px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 70px;
  padding-right: 70px;
  padding-bottom: 30000px;
  padding-left: 70px;
  background-color: rgb(0, 0, 0);
}

.in-front {
  display: flex;
  flex-direction: column;
  max-width: 2060px;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-top-left {
  max-width: 442px;
  /* max-width: 1258px; */
  color: rgba(255, 255, 255, 1);
  font-size: 5vh;
  letter-spacing: 0%;
  text-align: left;
  font-family: "Inria Sans", sans-serif;
}

.text-empty {
  max-width: 1258px;
  margin-top: 75px;
  color: rgba(255, 255, 255, 1);
  font-size: 5vh;
  letter-spacing: 0%;
  text-align: center;
  font-family: "Inria Sans", sans-serif;
}

.in-front {
  z-index: 1;
}
/* #text1 {
    transition: all 0.5s ease-out;    
} */
canvas {
  transition: all 0.5s ease-out;
  opacity: 1;
}
.opacity-zero {
  opacity: 0;
}
.opacity-one {
  opacity: 1;
}
.new-position-phase-2 {
  background-color: aqua;
}

.image {
  object-fit: contain;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.image-sizer {
  width: 100%;
  padding-top: 56.25%;
  pointer-events: none;
  font-size: 0;
}
